[data-md-color-scheme="jdc"] {
  --md-primary-fg-color:        #3283C8;
  --md-accent-fg-color:         #EF8523;
}

.md-typeset a {
  color:    #3283C8;
}


.md-typeset a:hover:not(.md-button), a:focus:not(.md-button) {
  text-decoration:              underline;
  text-decoration-thickness:    .125em;
  text-underline-offset:        1.5px;
  text-decoration-style:        dotted;
}

.md-nav__link:focus, .md-nav__link:hover, .md-nav__link:active {
  color: #3283C8;
  }

.md-header__title {
  font-size: 1rem;
}

